{% extends 'base.html' %}
{% load bootstrap4 %}
{% load humanize %}
{% load static %}
{% block content %}
    <span id='topo'></span>
    <div class="page">
        <ul>
            {% if visitmembros.count > 0 %}
                {% for visitmembro in visitmembros %}
                    <li>
                        <br>
                        <br>
                        <h2>{{ visitmembro.nome }}</h2>
                        <h3>Aniversario: {{ visitmembro.data_aniversario.day }} / {{ visitmembro.data_aniversario.month }}</h3>
                        <img src="{% get_media_prefix %}{{ visitmembro.imagem }}"   width="150" height="250">
                    </li>
                {% endfor %}
            {% else %}
                <h3>Infelizmente, hoje não tivemos lista.</h3>
            {% endif %}
        </ul>
    </div>
{% endblock %}
